

body {
    background: url('./Assets/background.jpg') no-repeat center fixed;
    background-size: cover;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 5px;}
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 20px;
    visibility: hidden;}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);;
    visibility: visible; }
/* Different Pages */
span.mainContainer{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    width: 90%;
    height: 95%;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;}
span.menuSpan{
    position: absolute;
    border-radius: 20px;;
    background-color: rgba(255, 255, 255, 0.0);
    top: 20px;
    bottom: 0px;
    left: 150px;
    right: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;}

/* Menu Bar styles */
div.menuBar{
    position: relative;
    background-color: rgba(51, 50, 50, 0.8);
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 50px;
    align-content: center;
    transition-property: height;
    transition-duration: 0.3s;}
img.dropIcon{
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 6px;
    opacity: 0;
    transition: opacity 0.3s linear, border 0.2s linear;}
img.dropIcon:hover{
    border: 3px solid white;
    cursor: pointer;}   
text.menuHomeText{
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 20px;
    padding: 10px;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: white;
    top: 73px;
    left: 90px;
    display: none;
    z-index: 1}
text.menuGridText{
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 20px;
    padding: 10px;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: white;
    top: 158px;
    left: 90px;
    display: none;
    z-index: 1}
text.menuContactText{
    position: absolute;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 20px;
    padding: 10px;
    font-size: 26px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: white;
    top: 243px;
    left: 90px;
    display: none;
    z-index: 1}

/*Project Table styles */
text.projectText{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 5%;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    margin: auto;
    padding: 10px 10px 10px 10px;
    overflow: visible;}
table.projectTable{
    position: absolute;
    background-color: transparent;
    top: 140px;
    width: 100%;
    padding: 0px 20px 20px 20px;
    border-spacing: 20px;
    overflow-y: auto;}
td.projectSq{
    position: relative;
    background-color: rgb(31, 31, 31);
    background-size: 100% 100%;
    border: 6px solid transparent;
    width: 33%;
    padding: 28% 10px 10px 10px;
    overflow: hidden;
    transform: scale(0);
    transition: 0.5s;}
td.projectSq:hover{
    border: 6px solid;
    border-image:linear-gradient(45deg,red,blue) 10;
    cursor: pointer;}
td.projectSq:hover .iconDesc{
    visibility: visible;
    left: 0px;}
td.projectSq.animate{
    transform: scale(1);
    transition: 0.25s;}
text.iconTitle{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(0, 0, 0, 0);
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 10px 10px 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-weight: 300;
    text-align: left;
    align-content: center;
    color: rgb(70, 70, 70);
    letter-spacing: 0.05em;}
img.iconImage{
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;}
div.iconImageCon{
    position: absolute;
    top: 10px;
    left: 20px;
    right: 20px;
    bottom: 80px;
    text-align: center;
    margin: auto;}
div.sortingContainer{
    position: absolute;
    border: 3px solid transparent;
    top: 100px;
    left: 30px;
    right: 30px;
    margin: auto;
    align-items: center;
    text-align: center;}
button.sortingButton{
    position: relative;
    border: 6px solid;
    border-image:linear-gradient(45deg,rgb(146, 1, 175),rgb(85, 29, 216)) 10;
    height: auto;
    width: 19.4%;
    font-size: 18px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    padding: 0px 0px 5px 0px;
    margin: auto;}
button.sortingButton:hover{
    background-color: rgb(172, 172, 172);
    cursor: pointer;}
button.sortingButton:hover .sortText{
    border-bottom: 2px solid black;}
div.iconDesc{
    position: absolute;
    background: linear-gradient(to left bottom, rgb(44, 44, 44, 0.9) 10%, 60%, rgb(0,0,0,0.9) 90%);
    border-radius: 0px 15px 15px 0px;
    top: 0px;
    bottom: 0px;
    left: -80%;
    height: 85%;
    max-height: 85%;
    width: 80%;
    z-index: 1;
    margin: auto;
    font-size: 1.3vw;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 0px 10px 0px 10px;
    align-items: center;
    transition: left 0.3s;
    transition-timing-function: ease-out;
    visibility: hidden;
    overflow: hidden;}
div.descTitle{
    position: absolute;
    border: 6px solid;
    border-top: black;
    border-bottom: black;
    border-image: linear-gradient(to bottom, rgb(0,0,0) 10%, 40%, rgb(167,167,167) 90%) 5;
    top: 15px;
    left: 0px;
    right: 0px;
    width: 85%;
    height: 30px;
    margin: auto;
    align-items: center;
    z-index: 1;
    display: flex;
    justify-content: center;}
text.descTitle{ 
    position: absolute;
    margin: auto;
    color: white;
    font-size: 1.4vw;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;}
text.descText{
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 15px;
    width: 80%;
    margin: auto;
    padding: 5px 0px;
    color: white;
    font-size: 1.25vw;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    overflow: auto; }
div.descLine{
    position: absolute;
    border: none;
    background: linear-gradient(45deg,rgb(0, 0, 0) 70%,rgb(167, 167, 167));
    left: 0px;
    right: 0px;
    bottom: 13px;
    height: 3px;
    width: 80%;
    margin: auto;} 

/*Home Page styles*/
img.homeImage{
    position: absolute;
    border: 8px solid black;
    border-radius: 20px;
    top: 40px;
    right: 40px;
    width: 30%;
    height: auto;}
div.homeHeader{
    position: relative;
    left: 40px;
    top: 100px;
    width: auto;
    height: fit-content;}
text.homeHeaderName{
    position: static;
    top: 60px;
    width: fit-content;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;}
text.homeHeaderTitle{
    position: relative;
    top: 0px;
    color: rgb(29, 29, 29);
    font-size: 2vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 70px;}
div.homeBlurb{
    position: relative;
    border-top: 5px solid black;
    top: 160px;
    left: 30px;
    width: 55%;
    height: auto;
    padding: 30px 5px 0px 5px;
    color: rgb(0, 0, 0);
    font-size: 1.4vw;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: justify;}
text.projectsLink{
    color: rgb(0, 95, 150);
    text-decoration: underline;
    cursor: pointer;}


/*Project Page styles*/
div.projectBanner{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 300px;
    margin-bottom: 10px;}
div.projectMain{
    position: absolute;
    background: rgba(255, 255, 255, 1);
    border-radius: 20px;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    margin-top: 300px;
    overflow-x: auto;
    overflow-y: auto;
    display: none;}
img.closeButton{
    position: absolute;
    border: 5px solid transparent;
    border-radius: 48px;
    top: 5px;
    right: 5px;
    height: 48px;
    width: 48px;
    z-index: 1}
img.closeButton:hover{
    border-color: rgba(255, 255, 255, 0.5);}
text.projectTitle{
    position: absolute;
    background-color: rgb(0,0,0,0.5);
    border-bottom: 5px solid white;
    border-bottom-right-radius: 30px;
    top: 0px;
    left: 0px;
    margin-bottom: 10px;
    padding: 10px 30px 10px 30px;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: center;}
table.descriptor{
    position: relative;
    top: -1px;
    left: 0px;
    right: 10px;
    width: 95%;
    height: 95%;
    margin: auto;
    overflow-x: auto;}
td.descHeadings{
    border: 3px solid black;
    border-radius: 0px 0px 10px 10px;
    width: 15%;
    height: 50px;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    overflow-x: hidden;}
td.descHeadings:hover{
    border:rgb(70, 70, 70);
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);}  
span.descContent{
    position: absolute;
    background-color: transparent;
    top: 60px;
    bottom: 0px;
    width: 100%;
    margin-top: 10px;
    font-size: 2vw;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;}
img.banner{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: auto;
    height: 100%;
}
/*More Project Page Styles*/
div.skillBars{
    background: linear-gradient(to left bottom, rgb(0,0,0,0.5), rgb(0,0,0,1));
    top: 20px;
    right: 10px;
    width: 40%;
    height: 40%;
    float: right;
    margin: 0px 0px 10px 20px;
    border: 1px solid black;}
p.overviewText{
    position: relative;
    top: 10px;
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    text-align: left;}
/*Project 8: Audio Synthesizer Glove*/
p.overviewFluff{
    position: relative;
    left: 0px;
    right: 0px;
    top: 70px;
    width: 100%;
    margin: auto;
    font-size: 1.5vw;
    font-family: 'Raleway', sans-serif;
    z-index: 1;}
.videoWrapper {
    position: relative;
    top: 100px;
    padding-bottom: 30%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    width: 60%;
    height: 90%;
    margin: auto;
}




